.tableColumn {
  font-family: "Mulish", sans-serif;
  padding: 5px 20px;

  &:nth-child(1) {
    flex: 0.1;
  }
  &:nth-child(2) {
    flex: 1.5;
  }
  &:nth-child(3) {
    flex: 1;
  }
  &:nth-child(4) {
    flex: 1;
  }
  &:nth-child(5) {
    flex: 1;
  }
  &:nth-child(6) {
    flex: 1;
  }
  &:nth-child(7) {
    flex: 1;
  }
}
