.tableRow {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 2px solid #eff2f5;
}
.tableHead {
  background-color: #eef1f7;
  font-family: "Cabin", sans-serif;
  font-family: 600;
}
